.suggestions {
    width: 100%;
    max-height: 100px;
    overflow-y: auto;
}

li {
    cursor: pointer;
}

.table-responsive {
    width: 100%;
    overflow-x: auto;

    table {
        tbody {
            tr {
                cursor: pointer;
            }
        }
    }
}