.bg-gradient-primary {
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
}

.card {
  transition: all 0.3s ease-in-out;
}

input::placeholder {
  color: #adb5bd;
  font-style: italic;
}

.modal-content {
  animation: fadeIn 0.3s ease-in-out;
}

.products-list {
  width: 100%;
  max-height: 100px;
  overflow-y: auto;
  z-index: 10;
  border-radius: 0.75rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease-in-out;
  border: 1px solid #dee2e6;
}

.products-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.products-list .list-group-item {
  cursor: pointer;
  border: none;
  padding: 0.75rem 1rem;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
}

.products-list .list-group-item:hover {
  background: linear-gradient(135deg, #e3eaf6, #d0ddee);
  transform: scale(1.01);
  color: #0d6efd;
}


.list-group-item {
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
label {
  margin: 0;
  padding: 0;
}