<div id="employee-component" class="container-fluid py-4">
    <div class="card shadow rounded-4 px-4 py-3 mx-0">
        <div class="card-header bg-light border-bottom">
            <h2 class="mb-0">Nueva Venta</h2>
        </div>
        <div class="card-body">
            <form [formGroup]="productForm" class="row g-3">
                <!-- Código -->
                <div class="col-12 col-md-3">
                    <label #codeInput for="code" class="form-label">Código</label>
                    <input id="code" class="form-control" formControlName="code" (input)="getProduct($event)" />
                </div>

                <!-- Producto -->
                <div class="col-12 col-md-5">
                    <label for="product" class="form-label">Producto</label>
                    <input id="product" class="form-control" formControlName="product" />
                </div>

                <!-- Precio -->
                <div class="col-6 col-md-2">
                    <label for="price" class="form-label">Precio</label>
                    <input id="price" class="form-control" formControlName="price" type="number" />
                </div>

                <!-- Cantidad -->
                <div class="col-6 col-md-2">
                    <label for="cant" class="form-label">Cantidad</label>
                    <input #cantInput id="cant" class="form-control" formControlName="cant" type="number"
                        (input)="verificarCantidad($event)" />
                    <div class="text-danger small mt-1" *ngIf="productForm.hasError('cantidadDebeSerDecimal')">
                        Ingrese peso del producto.
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>