<div id="employee-component" class="d-flex align-items-center justify-content-center vh-100">
<!--     <form [formGroup]="productForm">
        <div class="form-group">
            <label for="code">Código</label>
            <input id="code" formControlName="code" (input)="getProduct($event)" />
        </div>
        <div class="form-group">
            <label for="product">Producto</label>
            <input id="product" formControlName="product" />
        </div>
        <div class="form-group">
            <label for="price">Precio</label>
            <input id="price" formControlName="price" type="number" />
        </div>
        <div class="form-group">
            <label for="cant">Cantidad</label>
            <input id="cant" formControlName="cant" type="number" />
            <div *ngIf="productForm.hasError('cantidadDebeSerDecimal')">La cantidad debe ser un número decimal.</div>
        </div>
        <div class="form-group">
            <label for="subTotal">Subtotal</label>
            <input id="subTotal" formControlName="subTotal" type="number" />
        </div>
    </form> -->
</div>