.confirm-account {
    background: linear-gradient(to right, #d9eeda, #b0d48e);
    height: 100vh;
    padding: 2rem;
}

.card {
    border-radius: 12px;
}

.text-success {
    color: #28a745 !important;
}

img {
    max-width: 100%;
}