<div class="container-fluid">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <button type="button" class="btn" (click)="isSidebarOpen = !isSidebarOpen">
                <i class="bi bi-list"></i>
            </button>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': isActive('/admin'), 'disabled': !isActive('/admin')}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': isActive('/admin/products'), 'disabled': !isActive('/admin/products')}">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': isActive('/admin/sales'), 'disabled': !isActive('/admin/sales')}">Ventas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': isActive('/admin/users'), 'disabled': !isActive('/admin/users')}">Usuarios</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>